<%= render partial: "partials/menu" %>
<div class="container">
    <div class="row">
        <div class="twelves columns">
            <h1>#<%= @classroom.city %></h1>
            <button onclick="location.reload()" class="button">Rafraîchir</button>
        </div>
    </div>    
    <br/>
    <div class="row classroom" data-controller="classroom-subscription" data-classroom-subscription-classroom-id-value="<%= @classroom.id %>">
        <div class="twelves columns tickets" data-classroom-subscription-target="tickets">
            <% @tickets.each do |ticket| %>
                <%= render "tickets/ticket", ticket: ticket %>
            <% end %>
        </div>
        <div style="display:none;" data-classroom-subscription-target="myTicket">
            <% @tickets.each do |ticket| %>
                <%= render "tickets/ticket", ticket: ticket %>
            <% end %>
        </div>
    </div>
</div>
