<%= render partial: "partials/menu" %>
<div class="container">
    <div class="row">
        <div class="twelves columns">
            <h1>#<%= @classroom.city %></h1>
            <button onclick="location.reload()" class="button">Rafraîchir</button>
        </div>
    </div>    
    <br/>
    <div class="row">
        <div class="twelves columns tickets" data-controller="classroom-subscription">
            <% @tickets.each do |ticket| %>
                <div id="ticket-<%= ticket.id %>">
                    <span class="bold"><%= ticket.user.prenom %> <%= ticket.user.nom %></span>
                    <i><%= ticket.created_at.strftime("%a %b %e at %l:%M %p") %></i>
                    <p><i class='bx bx-message-dots'></i> <%= ticket.content %></p>
                    <br/>
                    <%= link_to "Marquer comme terminé", ending_ticket_path(ticket), data: {turbo_method: :post}, class: "button button-primary bg-green" %>
                </div>
            <br/>
            <% end %>
        </div>
    </div>
</div>